.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.flex-direction-column {
  flex-direction: column;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clean-link {
  text-decoration: none;
}

.hide {
  display: none;
}

.btn-border {
  border-radius: 7px;
  border-top: 2px solid rgb(246, 244, 244);
  border-left: 2px solid rgb(247, 245, 245);
  border-bottom: 4px solid rgb(96, 92, 92);
  border-right: 4px solid rgb(103, 100, 100);
}
