header nav.nav-header {
  width: 40%;
}

header nav.nav-header ul li {
  cursor: pointer;
}

header nav.nav-header ul li:hover {
  color: var(--clr2);
}

header .btn-hamburger-menu {
  display: none;
  color: var(--clr4);
  background: none;
  font-size: 40px;
  border: none;
  margin-right: -10px;
}
